.ball{
    background-color: black;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    width:20px;
    height:20px;
    border-radius: 50%;
    position: relative;
    background-color:black; 
}

.answer{
    width: 100px;
    height: 100px;
    background-color:indigo;
    color: bisque;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* button {
    height: 20px
} */

